  <div class="container maxmain">
    <div class="row">
      <div class="mainpage"> 
        <!--navbar -->
        <nav class="navbar navbar-default navbar-fixed-top nav-height">
          <div class="container">
            <a href="/"><img src="/image/moneyger.png" class="logo"></a>
          </div>
        </nav>
      </div><!-- END mainpage --> 
    </div><!-- END row -->
  </div><!-- END container maxmain -->