body {
	  font-family: 'KoPub Dotum' !important;
  	font-style: normal;
  	font-weight: 200;
  	color: #675e54 !important;
}

input {
  border-radius: 20px !important;
}

button { 
  border-radius: 45px !important;
}

@media (min-width: 1200px) {
    .container {
        width: 850px !important;
    }
    .btn-group {
       margin-left: 22% !important;
    }
}

@media (min-width: 768px) {
    .btn-group {
       margin-left: 18%;
    }
}

.nav>li>p {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.nav>li>p>a {
    color: #777;
    text-decoration: none;
}

.nav>li>p>a:hover {
    color: black;
    text-decoration: none;
}

.groupname {
    font-family: 'KoPub Dotum';
  	font-style: normal;
  	font-weight: 600;
  	font-size: 220%;
  	margin-top: 8%;
  	margin-bottom: 3%;
}

.main {
   background-color: #e8e8e8;
   margin-top: -7px;
}

.mainpage {
    background-color: #ffffff;
}

.line {
  margin-top: 3%;
}

.leaderinfo {
  border-top: 2px solid #ffb600;
  padding-top: 7%;
  margin-top: -2%;
}

.total {
  border-right: 1px solid #eee;
}

.marginmd {
  margin-top: 2%;
  margin-bottom: 4%;
}

.logo {
    width: 140px;
    height: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grouplist {
	margin-top: 10px;
}

.account {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


.chartalign {
  position: relative;
}

.pigmoney {
	text-align: right;
}

.ftweight {
  font-weight: 550;
}

.nav-height {
	height: 55px;
}

.display {
    margin-top: -5px;
}

.plusminusbtn {
	width: 20px;
	height: auto;
}

.btn-align {
  float: right;
  background-color: #ffc513 !important;
  border: none !important;
}

.btn-align:hover {
  background-color: #ffb700 !important;
}

#btn-whole {
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: #675e54;
  background-color: #f9f9f9;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid #ffb600;
  border-radius: 25px;
}

#btn-whole:hover {
  opacity: 0.8; 
}

#btn-each {
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #ffb600;
  border-color: #eea236;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 25px;
}

#btn-each:hover {
  opacity: 0.8;
}

.btn-class {
  height: 23px;
  width: 40px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #ffb600;
  border-color: #eea236;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 10px;
}

.btn-class:hover {
  opacity: 0.8;
}

.btn-class-1 {
  height: 33px;
  width: 65px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #ffb600;
  border-color: #eea236;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 17px;
  float: left;
  margin-left: 25%;
  margin-top: -4.7%;
}

.btn-class-1:hover {
  opacity: 0.8;
}

#wholemoney {
  
}

#moneypig {
  
}

.optionpng {
  width: 40px; 
  height: auto;
  float: right;
}

.panel-height {
  height: 200px;
}

.panel-make:hover {
  opacity: 0.8;
}

.imghover:hover {
  opacity: 0.5; 
}

.form-control {
  border: 1px solid #ffc513 !important; 
  
}

.form-control:focus {
  outline-color: #ffc513;
  box-shadow: 0 0px 4px #ffc513 !important;
}

.modal-content {
  border-radius: 23px !important;
  padding-bottom: 3% !important;
}

.modal-title {
  font-size: 25px !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.btn-cancel {
  color: #675e54;
  background-color: #f9f9f9;
  border: 1px solid #ffb600 !important;
  display: block;
  margin-left: 38%;
}

.btn-save {
  color: #fff;
  background-color: #ffb600;
  border: 1px solid transparent;
  display: block;
}

.btn-default {
  border: 1px solid #ffc513 !important;
}

.btn-drop:hover {
  background-color: #ffc513 !important;
  opacity: 0.8 !important;
}

/* KoPub Dotum */
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 300;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Light.ttf) format('truetype');
}
@font-face {
 font-family: 'KoPub Dotum';
 font-style: normal;
 font-weight: 400;
 src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot);
 src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.eot?#iefix) format('embedded-opentype'),
 url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.woff) format('woff'),
 url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Dotum';
  font-style: normal;
  font-weight: 700;
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot);
  src: url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-kopub/1.0/KoPubDotum-Bold.ttf) format('truetype');
}

#gchart_current {
  margin-left: 6%;
}

#gchart_usage {
  margin-left: 6%;
}


/*.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 1000px;
} */
/*추후수정*/
	
// Place all the styles related to the moneyger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

